{% extends 'base.html'%}
{%block styles%}
{{super()}}
{%endblock%}
{%block content%}
<div class="container">
    <div class="row ">
        <div class="col-md-4 my-4 4 pb-4 ">
        <h2 class="pb-4">Your details</h2>
        {%if user.profilepicpath%}
        <img src="{{url_for('static',filename=user.profilepicpath)}}" alt="" class="img_thumbnail" style="width:300px;height:400px;>
        {%else %}
        <p>No profile pic</p>
        {%endif%}
        {%if user== current_user%}
        <form action ="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">
        <input type="file"  name="photo" class="form-control" required>
        <input type="submit">


        {%endif%}
            <h6>Username:</h6>
            <p>{{user.username}}</p>
            <h6>Email:</h6>
            <p>{{user.email}}</p>
            <h6>Bio:</h6>
            {%if user.bio%}
            <p>{{user.bio}}</p>
            {%else%}
            <P>{{user.username}} has no bio</p>
            {%endif%}
            {% if user == current_user %}
    <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
{% endif %}


        </div>
        <div class="col-md-8 my-4 pb-4 pr-5">
        <h2 class="pb-4" ><center>Your pitches</center></h2>
        {%if pitches:%}
        {%for pitch in pitches%}
        <div class="jumbotron jumbos">
  <h1 class="display-4">{{pitch.title}}</h1>
  <p class="lead">{{pitch.pitch}}</p>
  <hr class="my-4">
  <p>{{pitch.category}}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Comment on pitch</a>
                                            

  </p>
</div>
    
        {%endfor%}


        {%else%}
        <br></br>
        <h6>you have no pitches on the App</h6>
        {%endif%}
        </div>
    </div>
</div>

{% endblock %}