.navbarclass {
    color: white !important;
    background-color: #eec643;
    font-size: large;
}

.words {
    background-color: #eef0f2;
}

.categorybutton {
    background-color: #2b3cb1;
    border-radius: 5%;
    padding-right: 15px;
    color: black;
    color: #eef0f2;
    margin: 10px;
}

.title {
    text-decoration: underline;
    color: white;
}

.titlee {
    color: #0E1C36;
    text-decoration: underline;
}

.jumbos {
    background-color: #0E1C36;
    color: #eef0f2;
    box-shadow: -15px -9px 17px 1px rgba(0, 0, 0, 0.63) inset;
    -webkit-box-shadow: -15px -9px 17px 1px rgba(0, 0, 0, 0.63) inset;
    -moz-box-shadow: -15px -9px 17px 1px rgba(0, 0, 0, 0.63) inset;
    padding: 10px;
}

.comment {
    background-color: #FFEDE1;
    margin: 10px;
    color: #0E1C36;
}

.container {
    background-color: #AFCBFF;
}