.navbarclass {
    color: white !important;
    background-color: #eec643;
    font-size: large;
}

.words {
    background-color: #eef0f2;
}

.categorybutton {
    background-color: #2b3cb1;
    border-radius: 5%;
    padding-right: 15px;
    color: black;
}

.title {
    text-decoration: underline;
    color: #2b3cb1;
}